<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Confirmation</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <a class="nav-link active" href="/logout">Log Out</a>
                </ul> 
            </div><!--end of container-fluid-->
        </nav>
        <div class="container">
            <h2>Shopping Cart</h2>
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th scope="col">Venue</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Ticket Price</th>
                        <th scope="col">Hearing Loop</th>
                        <th scope="col">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr class="text-center">
                        <th scope="row">{{ticket.venue}}</th>
                            <td>{{ticket.quantity}}</td>
                            <td>$25.00 each</td>
                            <td>{{ticket.loop}}</td>
                            <td>${{ticket.total | floatformat:2}}</td>
                    </tr>
                    
                    <tr>
                        <th colspan="4" class="text-right">Sales Tax</th>
                        <td class="text-center">${{ticket.tax | floatformat:2}}</td>
                    </tr>
                    <tr>
                       
                        <th colspan="4" class="text-right">Total</span></th>
                        <td class="text-center">${{ticket.total_price | floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td><a href="/edit/{{ticket.id}}" class="btn btn-primary">Edit</a><a href="/delete/{{ticket.id}}" class="float-right btn btn-primary">Delete</a></td>
                        <td colspan="4"><a href="/payment" class="float-right btn btn-success">Checkout</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div><!--end of container-->
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
    <link rel="stylesheet" type="text/css" href="{% static 'first_app/styles.css' %}">
    </body>
</html>