<!DOCTYPE html>
<html lang="en">
        {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Performances</title>
    </head>
    <body data-spy="scroll" data-target="#menu">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="{%static 'img/logo.jpg' %}"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/chrisgrafil">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tickets">Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/performances">Performances</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div><!--end of container-fluid-->
            </nav>
        
        <div class="container text-center">
          <br>
            <h1 class="jumbotron-heading">Chris Grafil</h1>
            <p class="lead text-muted">
                    Storyteller, wordplay, animated, and with a quirky sense of humor--he has performed in various shows in Los Angeles, Riverside and San Bernardino counties. He is known to have his shows looped for hearing aids/cochlear implant users.
            </p>
            <p>
                <a href="/contact" class="btn btn-primary">Book this Comedian!</a>
                
            </p>
        </div>
        
        <div class="background" style="background-image: url({% static 'img/stars.jpg' %})">
            <div class="container">
                <br>
                <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/bW6XvX9yBm8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Comic Cure in Glendale</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="https://www.youtube.com/user/MrLudachris2pher/videos" class="btn btn-sm btn-outline-secondary">View More</a></button>
                          
                        </div>
                        <small class="text-muted">7.20 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/gCfklPhAG-c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Comic Cure at Silverlake Festival</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://www.youtube.com/user/MrLudachris2pher/videos" class="btn btn-sm btn-outline-secondary">View More</a></button>
                          
                        </div>
                        <small class="text-muted">3.14 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2mQARouUsU4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Ice House in Pasadena</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="https://www.youtube.com/user/MrLudachris2pher/videos" class="btn btn-sm btn-outline-secondary">View More</a></button>
                          
                        </div>
                        <small class="text-muted">8.21 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/P0doX9mlshA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
                        </div>
                    <div class="card-body">
                      <p class="card-text">Comic Cure in Glendale</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="https://www.youtube.com/user/MrLudachris2pher/videos" class="btn btn-sm btn-outline-secondary">View More</a></button>
                          
                        </div>
                        <small class="text-muted">13.52 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/wjAeIvi6Nrw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    <div class="card-body">
                      <p class="card-text">Getaway Cafe in Riverside</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="https://www.youtube.com/user/MrLudachris2pher/videos" class="btn btn-sm btn-outline-secondary">View More</a></button>
                          
                        </div>
                        <small class="text-muted">14.00 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/AgtMCw_ZFpw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    <div class="card-body">
                      <p class="card-text">Pierre Garden in Los Angeles</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="https://www.youtube.com/user/MrLudachris2pher/videos" class="btn btn-sm btn-outline-secondary">View More</a></button>
                          
                        </div>
                        <small class="text-muted">5.51 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/d3RqAzSY14I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    <div class="card-body">
                      <p class="card-text">Hideaway in Riverside</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          
                        </div>
                        <small class="text-muted">9.06 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/tq8mebZPuHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    <div class="card-body">
                      <p class="card-text">Night Live in San Bernardino</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="https://www.youtube.com/user/MrLudachris2pher/videos" class="btn btn-sm btn-outline-secondary">View More</a></button>
                          
                        </div>
                        <small class="text-muted">3.29 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/9N8GLOWD7Vg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                        </div>
                    <div class="card-body">
                      <p class="card-text">Claremont Cafe, Claremont</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="https://www.youtube.com/user/MrLudachris2pher/videos" class="btn btn-sm btn-outline-secondary">View More</a></button>
                          
                        </div>
                        <small class="text-muted">6.46 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!--end of background image-->
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
        <link rel="stylesheet" type="text/css" href="{% static 'first_app/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </body>
    </body>
</html>